/**
 * app.less
 * Created by ajain on 27/04/2015.
 */
@import 'globals/lesshat.less';
@import 'globals/variables.less';
@import 'globals/mixins.less';
@import 'globals/reset.less';

.clearfix {
  &:after, &:before {
    content: " ";
    clear: both;
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html {
  font-family: @font-family;
  background-color: @page-background;
  color: #555;
  color: @text-color;
  font-size: 62.5%;
  height: 100%;
  min-width: 300px;

  @media @tablets {
    font-size: 62.5%;
  }
}

body {
  .font-size(1.6);
}

.view {
  padding: @genericPadding;
  min-height: calc(~'100% - @{navbar-height}');
}

md-toolbar {
  min-height: @navbar-height;
}

md-content {
  overflow: hidden;
}

md-whiteframe {
  padding: 2rem;
}

md-input-container.md-default-theme label, md-input-container.md-default-theme .md-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

@import '../app/common/components/ajNavbar/ajNavbar';
@import '../app/login/login';